In [1]:
import pandas as pd
carprice=pd.read_csv("CarPrice.csv")

In [2]:
carprice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    object
 13  cylindernumber    205 non-null    object
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    object
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
 23  price             205 non-null    float64
dtypes: float64(7), int64(7), object(10)
memory usage: 38.6+ KB

In [3]:
carprice.describe()

,symboling,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,1.245307,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,-2.000000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,3.000000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [4]:
carprice.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
carprice.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [6]:
Deletelist=['aspiration','drivewheel','enginelocation','enginesize','fuelsystem']
carprice=carprice.drop(Deletelist,axis=1)
print(carprice)

     symboling                   CarName fueltype doornumber      carbody  \
0            3        alfa-romero giulia      gas        two  convertible
1            3       alfa-romero stelvio      gas        two  convertible
2            1  alfa-romero Quadrifoglio      gas        two    hatchback
3            2               audi 100 ls      gas       four        sedan
4            2                audi 100ls      gas       four        sedan
..         ...                       ...      ...        ...          ...
200         -1           volvo 145e (sw)      gas       four        sedan
201         -1               volvo 144ea      gas       four        sedan
202         -1               volvo 244dl      gas       four        sedan
203         -1                 volvo 246   diesel       four        sedan
204         -1               volvo 264gl      gas       four        sedan

     carlength  carwidth  carheight  curbweight enginetype cylindernumber  \
0        168.8      64.1       48.8        2548       dohc           four
1        168.8      64.1       48.8        2548       dohc           four
2        171.2      65.5       52.4        2823       ohcv            six
3        176.6      66.2       54.3        2337        ohc           four
4        176.6      66.4       54.3        2824        ohc           five
..         ...       ...        ...         ...        ...            ...
200      188.8      68.9       55.5        2952        ohc           four
201      188.8      68.8       55.5        3049        ohc           four
202      188.8      68.9       55.5        3012       ohcv            six
203      188.8      68.9       55.5        3217        ohc            six
204      188.8      68.9       55.5        3062        ohc           four

     boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  \
0         3.47    2.68               9.0         111     5000       21
1         3.47    2.68               9.0         111     5000       21
2         2.68    3.47               9.0         154     5000       19
3         3.19    3.40              10.0         102     5500       24
4         3.19    3.40               8.0         115     5500       18
..         ...     ...               ...         ...      ...      ...
200       3.78    3.15               9.5         114     5400       23
201       3.78    3.15               8.7         160     5300       19
202       3.58    2.87               8.8         134     5500       18
203       3.01    3.40              23.0         106     4800       26
204       3.78    3.15               9.5         114     5400       19

     highwaympg    price
0            27  13495.0
1            27  16500.0
2            26  16500.0
3            30  13950.0
4            22  17450.0
..          ...      ...
200          28  16845.0
201          25  19045.0
202          23  21485.0
203          27  22470.0
204          25  22625.0

[205 rows x 19 columns]

In [7]:
carprice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   doornumber        205 non-null    object
 4   carbody           205 non-null    object
 5   carlength         205 non-null    float64
 6   carwidth          205 non-null    float64
 7   carheight         205 non-null    float64
 8   curbweight        205 non-null    int64
 9   enginetype        205 non-null    object
 10  cylindernumber    205 non-null    object
 11  boreratio         205 non-null    float64
 12  stroke            205 non-null    float64
 13  compressionratio  205 non-null    float64
 14  horsepower        205 non-null    int64
 15  peakrpm           205 non-null    int64
 16  citympg           205 non-null    int64
 17  highwaympg        205 non-null    int64
 18  price             205 non-null    float64
dtypes: float64(7), int64(6), object(6)
memory usage: 30.6+ KB

In [8]:
carprice.describe()

,symboling,carlength,carwidth,carheight,curbweight,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,174.049268,65.907805,53.724878,2555.565854,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,1.245307,12.337289,2.145204,2.443522,520.680204,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,-2.000000,141.100000,60.300000,47.800000,1488.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,166.300000,64.100000,52.000000,2145.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,173.200000,65.500000,54.100000,2414.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,183.100000,66.900000,55.500000,2935.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,3.000000,208.100000,72.300000,59.800000,4066.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [9]:
carprice.head()

,symboling,CarName,fueltype,doornumber,carbody,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,two,convertible,168.8,64.1,48.8,2548,dohc,four,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,two,convertible,168.8,64.1,48.8,2548,dohc,four,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,two,hatchback,171.2,65.5,52.4,2823,ohcv,six,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,four,sedan,176.6,66.2,54.3,2337,ohc,four,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,four,sedan,176.6,66.4,54.3,2824,ohc,five,3.19,3.40,8.0,115,5500,18,22,17450.0

In [10]:
from sklearn.model_selection import train_test_split
import numpy as np

In [11]:
x=carprice['compressionratio']
y=carprice['price']

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5)

In [13]:
x_train = x_train[:,np.newaxis]
y_train = y_train[:,np.newaxis]
x_test = x_test[:,np.newaxis]

C:\Users\madha\AppData\Local\Temp\ipykernel_22728\1578334252.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x_train = x_train[:,np.newaxis]
C:\Users\madha\AppData\Local\Temp\ipykernel_22728\1578334252.py:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y_train = y_train[:,np.newaxis]
C:\Users\madha\AppData\Local\Temp\ipykernel_22728\1578334252.py:3: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x_test = x_test[:,np.newaxis]

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import *
model=LinearRegression()

In [16]:
model.fit(x_train,y_train)

LinearRegression()

In [17]:
y_pred=model.predict(x_test)
y_pred

array([[11982.2012661 ],
       [11807.64989028],
       [11929.83585335],
       [12025.83911005],
       [13029.50952101],
       [13073.14736496],
       [12025.83911005],
       [12008.38397247],
       [12017.11154126],
       [12017.11154126],
       [11982.2012661 ],
       [11964.74612852],
       [11999.65640368],
       [11982.2012661 ],
       [11938.56342214],
       [11947.29099093],
       [12069.47695401],
       [11982.2012661 ],
       [11903.65314698],
       [11807.64989028],
       [12017.11154126],
       [11938.56342214],
       [13204.06089683],
       [12025.83911005],
       [11938.56342214],
       [11982.2012661 ],
       [11894.92557819],
       [11982.2012661 ],
       [12017.11154126],
       [12008.38397247],
       [12017.11154126],
       [11982.2012661 ],
       [11982.2012661 ],
       [11851.28773423],
       [11921.10828456],
       [11894.92557819],
       [11851.28773423],
       [12017.11154126],
       [13029.50952101],
       [12025.83911005],
       [11982.2012661 ],
       [12200.39048587],
       [11956.01855972],
       [12009.25672935],
       [11999.65640368],
       [11982.2012661 ],
       [13160.42305287],
       [11851.28773423],
       [11982.2012661 ],
       [12017.11154126],
       [12025.83911005],
       [11860.01530302],
       [11982.2012661 ],
       [11999.65640368],
       [11938.56342214],
       [11860.01530302],
       [11999.65640368],
       [11938.56342214],
       [13204.06089683],
       [11956.01855972],
       [11929.83585335],
       [11999.65640368],
       [11851.28773423],
       [11982.2012661 ],
       [11894.92557819],
       [11938.56342214],
       [12008.38397247],
       [12069.47695401],
       [12008.38397247],
       [11868.74287182],
       [12017.11154126],
       [11982.2012661 ],
       [11982.2012661 ],
       [11929.83585335],
       [11982.2012661 ],
       [12017.11154126],
       [11982.2012661 ],
       [13108.05764013],
       [11982.2012661 ],
       [11982.2012661 ],
       [11894.92557819],
       [11982.2012661 ],
       [11956.01855972],
       [11938.56342214],
       [13029.50952101],
       [11956.01855972],
       [13116.78520892],
       [12017.11154126],
       [12025.83911005],
       [11947.29099093],
       [12025.83911005],
       [13029.50952101],
       [12025.83911005],
       [13073.14736496],
       [12034.56667884],
       [11982.2012661 ],
       [12008.38397247],
       [11807.64989028],
       [11938.56342214],
       [12008.38397247],
       [11903.65314698],
       [11860.01530302],
       [11956.01855972]])

In [18]:
from sklearn.metrics import r2_score,mean_squared_error

In [19]:
mse=mean_squared_error(y_test,y_pred)
mse

81878165.37360156

In [20]:
rs=r2_score(y_test,y_pred)
rs

-0.06901598032900114